@main("test"){
    <div class="col-md-8">
        <font size="5px" color="#7ebee1">
            Рекламные ролики наших партнеров
        </font><br><br>
        <iframe src="https://www.youtube.com/embed/2vc1c3YE6kw" allowfullscreen="" width="633" height="315" frameborder="0"></iframe><br><br><br>
        <iframe src="https://www.youtube.com/embed/FQI-JkEudpg" allowfullscreen="" width="315" height="236" frameborder="0"></iframe>
        <iframe src="https://www.youtube.com/embed/MFPDc4H61kc" allowfullscreen="" width="315" height="236" frameborder="0"></iframe>

    </div>
}