@(groupProduct: GroupProduct)
@import models._
@main("test"){
    <div class="col-md-8">
        <h4>Все продукты в группе @groupProduct.getName:</h4>
        <table class="table table-striped">
            <thead>
                <tr><th>Название</th><th>Стоимость</th><th>Количество</th></tr>
            </thead>
            <tbody data-bind="foreach: productValues">
                @for(p<-groupProduct.getProducts){
                    <tr><a href="@p.getTransliterationName"></a>
                        <td><a href="">@p.getName</a></td>
                        <td>@p.getAmount</td>
                        <td>@p.getCost</td> }
            </tr>
            </tbody>
        </table>
    </div>
}